/spiflash_tb.vcd
/spiflash_tb.vvp
/ecp5demo.asc
/ecp5demo.bit
/ecp5demo.padded.bit
/ecp5demo.svf
/ecp5demo.json
/ecp5demo.log
/ecp5demo_out.config
/ecp5demo.rpt
/ecp5demo_syn.v
/ecp5demo_syn_tb.vvp
/ecp5demo_tb.vvp
/ecp5demo_fw.elf
/ecp5demo_fw.hex
/ecp5demo_fw.bin
/ecp5demo_all.bin
/ecp5demo_sections.lds
/testbench.vcd
/cmos.log
/nextpnr.log
