
# Pinout for the iCE40-HX8K Breakout Board

set_io clk 49
set_io -nowarn reset_button      37

set_io flash_csb 71
set_io flash_clk 70
set_io flash_io0 67
set_io flash_io1 68

# for QSPI mode the flash chip on the iCE40-HX8K Breakout Board
# must be replaced with one that supports QSPI and the IO2 and IO3
# pins must be soldered to T9 and P8 (center on J3)
set_io flash_io2 61
set_io flash_io3 62

set_io ser_tx 32  # -> gpio15 (rxd)
set_io ser_rx 34  # -> gpio14 (txd)

# pmod 4
set_io debug_ser_tx 3
set_io debug_ser_rx 1

# pmod 4
set_io debug_flash_csb 10 # 1
set_io debug_flash_clk 8  # 2
set_io debug_flash_io0 4  # 3
set_io debug_flash_io1 2  # 4
set_io debug_flash_io2 9
set_io debug_flash_io3 7

# pmod 5
set_io -nowarn leds[7] 96
set_io -nowarn leds[6] 97
set_io -nowarn leds[5] 98
set_io -nowarn leds[4] 99
set_io -nowarn leds[3] 101
set_io -nowarn leds[2] 102
set_io -nowarn leds[1] 104
set_io -nowarn leds[0] 105
